<h1><%= @document.title %></h1>

<% # editor configuration %>
<article id="document-editor" data-initial-content="<%= @document.content %>"></article>
<%= javascript_pack_tag 'document-editor', 'data-turbolinks-track': 'reload' %>